@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-gray-50 text-gray-800;
  }

  * {
    @apply box-border;
  }
}

/* React Toastify override para combinar com o tema */
.Toastify__toast--success {
  border-left: 4px solid #006B4F;
}

.Toastify__progress-bar--success {
  background: #006B4F;
}